<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="/admin_login" class="flex flex-col items-center justify-center h-screen space-y-10 " method="post">
        <input type="text" name="username" placeholder=" username " class="border border-black">
        <input type="text" name="password" placeholder=" password" class="border border-black">
        <button type="submit" class="border border-black " >login</button>
    </form>
</body>
</html>